<div id="left-sidebar" class="ui thin vertical sidebar menu active" id="menu">

    <div class="item">
        <b>任务</b>

        <div class="menu">

            <a class="item" href="" ng-click="template.url = 'partials/task/all.html'">所有任务</a>

            <a class="item" href="" ng-click="template.url = 'partials/task/todo.html'">我的待办</a>

            <a class="item" href="#" ng-click="link()">我的已办</a>

        </div>
    </div>
    <div class="item">
        <b>项目</b>

        <div class="menu">

            <a class="item" href="#">Contributing</a>

            <a class="item" href="#">Set-up</a>

        </div>
    </div>
</div>