<div id="top-menu" class="ui fixed transparent inverted main menu">
    <div class="container">
        <a id="logo" class="item">
            <i class="icon home layout"></i>
            <span>T</span><span>a</span><span>s</span><span>k</span><span>I</span><span>t</span>
        </a>

        <div class="right menu">
            <div class="ui simple dropdown item" id="user-info">
                Robinfai <i class="icon setting"></i>
                <div class="theme menu">
                    <div class="item" data-theme="flat">Flat</div>
                    <div class="item" data-theme="shaded">Shaded</div>
                    <div class="item" data-theme="classic" ng-click="logout()">
                        注销
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>