<div ng-controller="TaskAllController">
    <div class="ui grid task" style="width:{{width}}px;">
        <div class="top aligned row">
            <div class="column item-animation" ng-repeat="board in boards" style="width:{{itemWidth}}px">
                <div class="ui vertical fluid menu piled segment">
                    <div class="header item">
                        {{board.name}}
                    </div>
                    <div class="item item-animation" ng-repeat="item in board.items">
                        {{item.content}}
                    </div>
                    <div class="item" ng-show="isShowAddCard[$index]">
                        <textarea cols="30" rows="10" ng-model="card[$index]"></textarea>
                        <div class="small ui secondary button" ng-click="addCard($index)">添加</div>
                    </div>
                    <div class="item text-right" ng-hide="isShowAddCard[$index]" ng-click="showAddCard($index)">
                        <i class="icon add"></i>添加卡片...
                    </div>
                </div>
            </div>
            <div class="column" style="width:{{itemWidth}}px">
                <div class="ui vertical fluid menu">
                    <div class="header item" ng-hide="isShowAddBoard" ng-click="showAddBoard()">
                        添加看板
                    </div>
                    <div class="item" ng-show="isShowAddBoard">
                        <textarea cols="30" rows="5" ng-model="board"></textarea>
                        <div class="small ui secondary button" ng-click="addBoard()">添加</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>