<div ng-controller="TaskAllController">
    <div class="ui grid task" style="width:{{width}}px;">
        <div class="top aligned row">
            <div class="column item-animation" ng-repeat="board in boards" style="width:{{itemWidth}}px">
                <div class="ui vertical fluid menu piled segment board">
                    <div class="header item">
                        {{board.name}}
                    </div>
                    <div class="item item-animation" ng-repeat="item in board.items">
                        {{item.content}}
                        <div class="ui left pointing dropdown icon" dropdown>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="label">标签</div>
                                <div class="item" data-value="member">成员</div>
                                <div class="item" data-value="date">时间</div>
                                <div class="item" data-value="subscribe">订阅</div>
                                <div class="item" data-value="attachment">附件</div>
                            </div>
                        </div>
                    </div>
                    <div class="item" ng-show="isShowAddCard[$index]">
                        <textarea id="cardText_{{$index}}" rows="5" ng-model="card[$index]" focus="isShowAddCard[$index]" ></textarea>
                    </div>
                    <div class="item" ng-show="isShowAddCard[$index]">
                        <div class="small ui secondary button" ng-click="addCard($index)">添加</div>
                    </div>
                    <label for="cardText_{{$index}}" class="item text-right" ng-hide="isShowAddCard[$index]" ng-click="showAddCard($index)">
                        <i class="icon add"></i>添加卡片...
                    </label>
                </div>
            </div>
            <div class="column" style="width:{{itemWidth}}px">
                <div class="ui vertical fluid menu">
                    <label for="boardText" class="header item" ng-hide="isShowAddBoard" ng-click="showAddBoard()">
                        添加看板
                    </label>
                    <div class="item" ng-show="isShowAddBoard">
                        <input type="text" ng-model="board" id="boardText" focus="isShowAddBoard"/>
                    </div>
                    <div class="item" ng-show="isShowAddBoard">
                        <div class="small ui secondary button" ng-click="addBoard()">添加</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>