<div ng-controller="TaskAllController">
    <div class="ui fixed menu board-info">
        <div class="container">
            <a class="item">
                测试看板
            </a>

            <div class="right menu">
                <div class="ui simple dropdown item" id="user-info">
                    Robinfai <i class="icon setting"></i>
                    <div class="theme menu">
                        <div class="item" data-theme="flat">Flat</div>
                        <div class="item" data-theme="shaded">Shaded</div>
                        <div class="item" data-theme="classic" ng-click="logout()">
                            注销
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid task" style="width:{{width}}px;">
        <div class="top aligned row">
            <div class="column item-animation" ng-repeat="board in boards" style="width:{{itemWidth}}px" ng-include="'partials/card/list.html'">

            </div>
            <div class="column" style="width:{{itemWidth}}px">
                <div class="ui vertical fluid menu">
                    <label for="boardText" class="header item" ng-hide="isShowAddBoard" ng-click="showAddBoard()">
                        添加看板
                    </label>
                    <div class="item" ng-show="isShowAddBoard">
                        <input type="text" ng-model="board" id="boardText" />
                    </div>
                    <div class="item" ng-show="isShowAddBoard">
                        <div class="small ui secondary button" ng-click="addBoard()">添加</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>